/* Override the default design system colors */
    .utah-design-system {
      --primary-color: #3D4766;
      --primary-color-dark: #2F364C;
      --primary-color-light: #edf5f8;

      --secondary-color: #C85628;
      --secondary-color-dark: #883A1B;
      --secondary-color-light: #FEF5EB;

      --accent-color: #7DA267;
      --accent-color-dark: #668453;
      --accent-color-light: #BED1B3;
    }